# Environment variables
# TZ:                Which timezone to use, defaults to Europe/Stockholm
# VERSION:           Which version of papercraft to run, defaults to latest
# BUILD:             Which build number of above version to run, defaults to latest
# RAM:               How much RAM to allocate, default to 1G
# JAVA_OPTS:         Optional java options, you should know what you're doing
# PUID:              UID to run as
# PGID:              GID to run as
name: minecraft
services:
  buddacraft:
    image: marwinfaiter/buddacraft
    build: .
    environment:
      RAM: 3G
      VERSION: 1.18.2
    ports:
      - 25565:25565
      - 25565:25565/udp
    volumes:
      - ./data:/buddacraft
    stdin_open: true
    tty: true
